@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.hero-section-bg {
    background: url("../../Assets/Images/Hero_Bg.png");
    /* width: 100%; */
    background-size: cover;
    /* background-color: black; */
    /* background-position: right; */
    /* height: 80vh; */

    overflow-y: hidden;
}

.standing-image{
    margin-top: 20%;
    margin-left:10%;
}

.grid-image{
    width: 222.8px;
    height: auto;
}

.customDivShadows {
    /* -webkit-box-shadow: 0px 10px 124px 10px rgba(222,247,28,0.3);
-moz-box-shadow: 0px 10px 124px 10px rgba(222,247,28,0.3);
box-shadow: 0px 10px 124px 10px rgba(222,247,28,0.3); */
box-shadow: 2px 4px 120px -29px rgba(222,247,28,0.6);
-webkit-box-shadow: 2px 4px 120px -29px rgba(222,247,28,0.6);
-moz-box-shadow: 2px 4px 120px -29px rgba(222,247,28,0.6);
}